h1 {
    color: #000097;
    font-family: 'Indie Flower', cursive;
    border-bottom: 1px solid #5A2A00;
}
h2 {
    color: #000097;
    font-family: 'Indie Flower', cursive;
}
header{
    padding: 1rem;
}
body {
    margin-left: 1%;
    background-color: #FCFCFC;
    font-family: "Arial", sans-serif;
}

main{
    border: 1px solid black;
    margin: 0 auto;
    padding: 1rem;
}

a{
    color: #3D5A80;
}

p {
    margin-left:100px;
}

blockquote {
    background-color: lightgray;
    padding: 1rem;
}

img.side {
    float:right;
    margin: 0 12px;
}

footer {
    background-color: #005B4C;
    padding: 1rem;
}

footer a {
    color: black;
}